@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model WebApplication6.Models.RegisterModel
<header>
    <link rel="stylesheet" href="~/css/Page.css"/>
    <link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />
</header>
<body>
               <div class="container">
                <div class="video">
                    <div class="backgroud">
                        <video autoplay muted loop preload="auto" class="page_video" src="/Video/WebPages/Registred/vecteezy_green-leaves-sunlight-shining-through-the-morning_2874067 (video-converter.com).webm"></video>

                    </div>
                    
                </div>
                <section class = "register" >
            <form asp-action="Registred" asp-controller="Log" method="post">
                    <div class="register_window">                    
                        <div class="register_window_inpute">
                            <h1 style="text-align: center; font-size: 36px;">Регистрация на сайте</h1>
                        <div class="span_div">
                            <span asp-validation-for="UserName" class="text-danger" ></span><br>
                            <span asp-validation-for="SecondName" class="text-danger" ></span><br>
                            <span asp-validation-for="Email" class="text-danger" ></span><br>
                            <span asp-validation-for="Password" class="text-danger"></span><br>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span><br>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">                            
                            <input asp-for="UserName" class="form-control" placeholder="Ваше имя" />
                        </div>
                        <div class="form-group">                            
                            <input asp-for="SecondName" class="form-control" placeholder="Ваша фамилия" />
                        </div>
                        <div class="form-group">                            
                            <input asp-for="Email" class="form-control" placeholder="Адрес Электронной почты" />
                            
                        </div>
                        <div class="form-group">                            
                            <input asp-for="Password" class="form-control" placeholder="Пароль" />
                            
                        </div>
                        <div class="form-group">                            
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Повтор пароля"/>
                            
                        </div>   
                        <div class="form-group">
                            <input asp-for="PhoneNumber" type="text" placeholder="+7-(___)-___-__-__" id='phone' type="text"></input>
                        </div> 

                        <div class="form_button_div_reg">
                            <button class="form_button_button" type="submit">Зарегистрироваться</button>
                        </div>

                        </div>
                       
                        
                    </div>
                </form>

                </section>
        
                
            </div>
    <script src="https://unpkg.com/imask"></script>
    <script src ="~/js/Register/NumberPhone.js"></script>
    
</body>
