
.main {
    flex-grow: 1;
}

.top {
    left: 0;
    right: 0;
    position: absolute;
    z-index: 5;
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
    margin-top: 247px;
}

.title {
    padding-top: 105px;
    padding-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
    
}

.top_link {
    left: 0;
    right: 0;
    background-color: #151515;
    padding: 40px;
    max-width: 430px;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}
.swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top,center;
    height: 100vh;
}
.slider{
    position:relative;
}
.mySwiper::after{    
    content: '';
    background: rgba(21,21,21,.7);
    position: absolute;
    z-index: 4;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}



.why_lease {
    padding: 150px 0px;
}

.why_lease_list {
    padding-left: 250px;
    padding-right: 250px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    text-align: center;
}

.why_lease_item_img {
    height: 150px;
    width: 150px;
}

.why_lease_item_title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
}

.how_does {
    padding-bottom: 150px;
}

.how_does_inner {
    display: block;
    width: 800px;
    margin: 0 auto;
}

.how_does_minititle {
    font-size: 24px;
    font-weight: 700;
    padding-top: 50px;
}

.how_does_list {
    text-align: center;
    padding: 50px 0 70px;
    counter-reset: MyCounter;
}

.how_does_item {
    text-align: center;
    list-style-type: none;
    width: 600px;
    position: relative;
    margin-left: auto;
    box-sizing: content-box;
    padding: 19px 0 19px 200px;
}


.how_does_item + .how_does_item {
    margin-top: 40px;
}

    .how_does_item::before {
        counter-increment: MyCounter;
        content: counter(MyCounter);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        font-size: 60px;
        font-weight: 700;
        background-color: black;
        border-radius: 50%;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        position: absolute;
        left: 0;
        top: 0;
    }

.welcome_video {
    text-align: center;
}

.welcome_video_div {
    display: inline-block;
    max-width: 1000px;
}

.welcome_title {
    font-size: 48px;
    text-transform: uppercase;
}

.welcome_minititle {
    padding: 20px 0 50px 0;
    font-size: 36px;
}

.welcome_video {
    padding-bottom: 150px;
}

.product {
    text-align: center;
    margin: 0 23% 0 23%;
}

.product_row {
    display: flex;    
    padding: 50px 0 50px 0;
}

.product_foto {
    width: 600px;
    height: 1200;
}

.product_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    
}

.product_link {
    width: 85%;
    height: 100px;
    border: solid black 3px;
    margin: 0 7.5% 0;
    padding: 3%;
    transition: 0.6s;
    font-size: 36px;
}

    .product_link:hover {
        color: white;
        background-color: black;
       
    }

.product_name {
    font-size: 32px;
}

.product_description {
    font-size: 24px;
}
