main {
    background: url(img/Background.jpg) no-repeat center center fixed;
    color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.window_main {
    background-color: rgba(35, 35, 35, 0.4);
    
    justify-items: center;
    margin: 4% auto 5% auto;
    margin-left: auto;
    margin-right: auto;
    width: 70%;  
    font-size: 24px;
    text-align: center;
    >.table {
        >table {            
            >thead {
                >tr {
                    
                    >th {
                        border: white solid 3px;
                    }                  

                }
                

            }

            
        }

    }

}
.tb_iacheka{
    border: white solid 3px;
}
img{
    width: 100px;
    height: 100px;
}