

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'EB Garamond', serif;
    background-color: white;
    background-image: url(img/Body.jpg);
    background-repeat: no-repeat;
    height: 100%;
}

ul {
    list-style-type: none;
}
main{
   flex-grow:1;
}
.wrapper{
    height:100%;
    display:flex;
    flex-direction:column;
}

.section_title {
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    left: 0;
    right: 0;
    background-color: transparent;
    position: absolute;
    z-index: 5;
}

.headerline {
    display: flex;
    height: 47px;
    justify-content: center;
}

.navitem {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 36px;
}

 .navitem:hover {
        background-color: white;
        color: black;
        transition: 0.5s;
  }
.form_button_button{
    cursor:pointer;
}
.footer {
    background-color: #151515;
    padding: 50px 0 32px;
    color: white;
}

.footermenu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.footermenutile {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.footermenuitems + .footermenuitems {
    padding-top: 20px;
}

.footermenulist {
    max-width: 250px;
}

.app {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 52px;
}

.footer_copy {
    justify-content: center;
    max-width: 810px;
    margin: 0 auto 30px;
}

.footercopy_text {
    text-align: center
}

.copy_nav_list {
    justify-content: center;
    display: flex;
    gap: 40px
}
