@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<body>
    <div>
        @Model.Data
    </div>
        <div>
        <a href="/Home/Index" style="color:black;background: white;padding: 10px;
    font-family: CURSIVE;
    text-decoration: none;
    border-radius: 18px;">В магазин ! </a>
    </div>

</body>
