@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@Model DarkStore.Domain.Entity.User;
<dody>
    <div>
        <form method="post" enctype="multipart/form-data">
        <li>Поменять имя <input type="text" name="UserName" /></li>
         <li>Новый пароль<input type="text" name="Password" /></li>
    <li>Повторите новый пароль<input type="text" name="ConfirmPassword" /></li>
    
    <label for="image-file">Choose image:</label>
    <input type="file" id="image-file" name="Imgform" >
    <input type="hidden" name = "Email" value="@Model.Email"/>

 <div class="mb-3">
     <button type ="submit" class="btn btn-primary">Загрузить </button>

 </div>





        </form>



    </div>




</dody>
