@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@*@model WebApplication6.Models.ProductModel*@
@model DarkStore.Domain.ModelViews.ProductModel
<body class="card-body">
    <h4>Добавление нового продукта</h4>
    <hr />
    <div class="row" style="color:gray">
        <form asp-action="NewProduct" asp-controller="NewData" method="post" enctype="multipart/form-data">
            <div class="col-md-4"

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LiteDescription" class="control-label"></label>
                <input asp-for="LiteDescription"  class="form-control" />
                <span asp-validation-for="LiteDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullDescription" class="control-label"></label>
                <input asp-for="FullDescription" class="form-control" />
                <span asp-validation-for="FullDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="    Count" class="control-label"></label>
                <input asp-for="    Count" class="form-control" />
                <span asp-validation-for="  Count" class="text-danger"></span>
            </div>

           <div class = "form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select  id = "1stCountry"asp-for = "CountryId" class="form-control"asp-items="ViewBag.Country"></select>
                <option value = ""></option>
            </div>
            <div class="form-group">
              <label for="image-file">Choose image:</label>
              <input type="file" id="image-file" name="Imgform" >


            </div>

              <ul typeof="squaer">
                    <li colspan="2"><input type="submit" value="Зарегистрироваться" /></li>

                </ul>



         </div>
        </form>
</body>
