<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap" rel="stylesheet">     
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
    <header class="header">
        <div class="container">


            <div class=headerline>

                <div class="Menclass">
                    <a class="navitem" href="/Shop/DarkStore">На главную</a>
                    <a class="navitem" href="/Log/Registred">Зарегистрироваться</a>
                    <a class="navitem" href="/Log/Login">Вход</a>
                    <a class="navitem" href="/Log/Logout">Выход</a>
                        <a class="navitem" href="/PersonInfo/PersonCabinet">Личный кабинет</a>
                </div>


            </div>
        </div>


        

    </header>

        <main role= "main" >
            @RenderBody()
        </main>
    
    <footer class="footer">
        <div class="container">
            <nav class="footermenu">
                <ul class="footermenulist">
                    <li class="footermenuitems">
                        <p class="footermenutile">Products</p>
                    </li>
                    <li class="footermenuitems"><a href="#" class="footermenulink">Used</a></li>
                    <li class="footermenuitems"><a href="#" class="footermenulink">New</a></li>
                    <li class="footermenuitems"><a href="#" class="footermenulink">Менеджер по продажам</a></li>
                </ul>
                <ul class="footermenulist">
                    <li class="footermenuitems">
                        <p class="footermenutile">Resources</p>
                    </li>
                    <li class="footermenuitems"><a href="#" class="footermenulink">Наш блог</a></li>
                    <li class="footermenuitems"><a href="#" class="footermenulink">FAQ</a></li>
                    <li class="footermenuitems"><a href="#" class="footermenulink">Contact us</a></li>
                </ul>
                <ul class="footermenulist">
                    <li class="footermenuitems">
                        <p class="footermenutile">Работы наших людей</p>
                    </li>
                    <li class="footermenuitems"><a href="#" class="footermenulink">Поставщики</a></li>
                    <li class="footermenuitems"><a href="#" class="footermenulink">Партнёры</a></li>
                </ul>
                <ul class="footermenulist">
                    <li class="footermenuitems">
                        <p class="footermenutile">О нас</p>
                    </li>
                    <li class="footermenuitems"><a href="#" class="footermenulink">Команда</a></li>
                    <li class="footermenuitems"><a href="#" class="footermenulink">Карьера</a></li>
                </ul>

            </nav>
            <ul class="app">
                <li class="app_item">
                    <a href="" class="app_ite,_link"></a>
                    <img class="app_item" src="~/Images/WebPages/Lay/app_store.svg" alt="">
                </li>
                <li class="app_item">
                    <a href="" class="app_ite,_link"></a>
                        <img class="app_item" src="~/Images/WebPages/Lay/google_play.svg" alt="">
                </li>
            </ul>

            <div class="footer_copy">
                <p class="footercopy_text">
                        В мире, где каждый мгновенье запечатлевается и сохраняется в цифровом пространстве,
                        студия фотографов остается исключительным местом, где искусство воплощается в красивых 
                        и глубоких изображениях. Гламурные фотографии моделей, эпические пейзажи, портреты полны 
                        эмоций — все это можно увидеть и ощутить в стенах нашей великолепной студии.
                </p>
                <p class="footercopy_text">
                        Сотрудничество с нашей студией означает, что вы окунетесь в мир фотографии, где все возможно.
                        Мы готовы воплотить любую вашу идею и создать настоящий шедевр. Наш подход основан на тесном
                        взаимодействии с клиентом: мы слушаем ваши пожелания и предлагаем свои идеи, чтобы 
                        в итоге достичь идеального результата.y.
                </p>

            </div>
            <nav class="copy_nav">
                <ul class="copy_nav_list">
                    <li class="copy_nav_item">
                        <a href="#" class="copy_nav_link">Условия обслуживания</a>
                    </li>
                    <li class="copy_nav_item"><a href="#" class="copy_nav_link">Privacy Policy</a></li>
                    <li class="copy_nav_item">
                        <a href="#" class="copy_nav_link">
                            Do Not Sell My Personal
                            Information
                        </a>
                    </li>
                </ul>

            </nav>
    </footer>
    </div>



 
</body>

</html>
